* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.container {
    max-width: 1400px;
    margin: auto;
}


header img {
    width: 35%;
}

.menu {
    margin-right: 1.5%;
}

.menu-items {
    text-decoration: none;
    padding: 5px;
    vertical-align: top;
    align-items: center;
    color: green;
    transition: 300ms;
}

.menu-items:hover {
    text-decoration: underline;
    font-weight: 700;
}

.encabezado {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./img/header.jpg);
    height: 60vh;
    background-size: cover;
    color: #fff;
}

.contenido-encabezado {
    margin-left: 58%;
    padding-top: 5%;
}

.contenido-encabezado h3 {
    padding-bottom: 5px;
    font-weight: 300;
}

.contenido-encabezado h1 {
    padding-bottom: 10px;
}

.contenido-encabezado p {
    font-weight: 300;
}
    

.botones-encabezado {
    display: flex;
    vertical-align: top;
    align-items: center;
    justify-content: flex-end;
    margin: 5% 15%;
}

.botones-encabezado button {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    margin: 0 5px;
}

.botones-encabezado button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2); 
}

.botones-encabezado button::before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.botones-encabezado button:hover:before {
    transform: translateX(15em);
}  

.servicios {
    background: #FFFFFF;
}

.contenido-servicios {
    text-align: center;
    padding-top: 40px;
}

.contenido-servicios h1 {
    padding: 30px 0;
}

.item-servicio {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;

}

.item-servicio img {
    height: 50px;
}

.item-servicio h3 {
    padding: 10px 0;
    font-size: 18px;
}

.item-servicio p {
    padding: 5px;
    font-size: 15px;
}

.separador-home {
    background: url(./img/carrusel3.jpeg);
    height: 40vh;
    width: 100%;
    background-size: cover;
    color: #fff;
}

.nosotros-home {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    background-color: #FFFFFF;
}

.nosotros-home h1{
    text-align: center;
    padding: 50px 0 30px;
}

.lista-nosotros {
    list-style: none;
    width: 100%;
    margin: 0 25%;
}

.item-nosotros {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
}

.lista-nosotros li:hover {
    border: 2px solid green;
}

.item-nosotros img {
    width: 40%;
    padding-bottom: 10px;
}

.item-nosotros h2 {
    padding-bottom: 15px;
}

.perfiles {
    padding-bottom: 40px;
    background: #212121;
}

.contenido-perfiles h1{
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.lista-perfiles {
    list-style: none;
    width: 100%;
    margin: 0 10%;
}

.items-perfiles {
    width: 20%;
    height: 30vh;
    display: inline-block;
    background: #f5f5f5;
    text-align: center;
    padding: 20px 10px;
    margin: 0 10px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: box-shadow .3s ease, transform .2s ease;
}

.items-perfiles h2 {
    padding: 0 0 5px;
}

.items-perfiles:hover h2 {
    color:green;
}

.items-perfiles p {
    color: #859ba8;
    font-size: 14px;
}

.lista-social {
    list-style: none;
    padding: 0;
    transform: translateY(200%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
}

.lista-social img {
    display: block;
    height: 20px;
    width: 20px;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease ,transform 0.2s ease;
}

.items-perfiles:hover {
    box-shadow: 0 8px 50px #23232333;
}

.items-perfiles:hover h1 p {
    transform: translateY(-5%);
}

.items-perfiles:hover .lista-social {
    transform: translateY(100%);
    opacity: 1;
}

.lista-social img:hover {
    fill: #232323;
    transform: scale(1.1);
}

.contacto {
    padding: 0px 0 40px;
    width: 100%;
    background: #FFFFFF;
}

.titulo-contacto {
    text-align: center;
    padding: 15px 0;
}

form {
    width: 100%;
    margin: 20px 40%;
}

form label {
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
}

.input-general {
    width: 20%;
    display: block;
    margin: 0 0 20px;
    padding: 5px 25px 5px 5px;
}

.input-general:focus {
    border-color: green;
    box-shadow: 0 1px 1px rgba(76, 196, 76,0.075)inset,0 0 3px rgba(0, 136, 0, 0.6);
    outline: 0 none;
}

.checkbox {
    margin: 30px 0;
}

.enviar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: green;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.15s linear;
    margin-left: 5%;
}

.enviar:hover {
    background-color: rgba(29, 201, 160, 0.08);
    border-color: green;
    color: green;
    transform: translateY(-5px) scale(1.05);
}

.enviar:active {
    background-color: transparent;
    border-color: green;
    color: green;
    transform: translateY(5px) scale(0.95);
}

.enviar:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8E8E93;
    border-color: #8E8E93;
}

footer {
    background: #000;
    display: flex;
    vertical-align: top;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 35%;
}

.menu-footer {
    margin-right: 1.5%;
}

@media screen and (max-width: 550px) {
    
    * {
        box-sizing: border-box;
    }

    html, body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    body {
        margin: 0;
    }


    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header img{
        margin: 0 30%;
        
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .menu a {
        padding: 5px 10px;
    }

    #encabezado {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: 80vh;
        background-size: cover;
    }

    .encabezado .contenido-encabezado {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .encabezado .botones-encabezado {
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        
    }

    .servicios h1{
        margin: 0 auto;
        text-align: center;
    }

    .servicios .lista-servicios {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .servicios .lista-servicios .item-servicio {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        
    }

    #nosotros {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #nosotros .lista-nosotros {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #nosotros .lista-nosotros .item-nosotros {
        width: 65%;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenido-perfiles {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenido-perfiles .lista-perfiles {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenido-perfiles .lista-perfiles .items-perfiles {
        width: 65%;
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contacto h1 {
        text-align: center;
    }

    .contacto .container form .input-general {
        margin: 10px 0;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contacto .container .enviar { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer img {
        margin: 0 33%;
    }

    .menu-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }
}